{% extends 'layout.html' %}

{% block title %}
Create new Post ✏️
{% endblock %}

{% block content %}
<div class="heading text-center font-bold text-2xl m-5 text-gray-800">New Post</div>

<form action="" method="post" class="form-with-validation" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl">
        {{ form }}

    </div>
    <button 
            class="form-submit mx-auto m-8 flex px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">

            UPDATE 💡
        </button>
</form>

{% endblock %}